    body {
      margin:40px auto;
      max-width:650px;
      line-height:1.6;
      font-size:18px;
      color:#fdf6e3;
      padding:010px;
      background-color:#002b36;
      font-family:arial;
    }
    h1,h2,h3 {
      line-height:1.2
    }
    a:link,a:visited,a:hover,a:active {
      color: #eee8d5;
      text-decoration: none;
      font-family:arial;
    }